## Open the xlsx file

In [2]:
import pandas as pd
df = pd.read_excel('JH Baxter Complaints 9-12-1977 thru 09-28-2022 with Confidential blocked.xlsx')
df

,Date of Complaint Submission,Time of Complaint Submission,Complainant Name,Complainant Address,Complainant City,Complainant Phone Number,Request Confidentiality,Date of Air Quality Issue,Time of Air Quality Issue,Source of Air Quality Issue,Notes,Unnamed: 11,Unnamed: 12
0,1977-09-12,NaN,WILLIAMS\DAVE,49 BAXTER ROAD,EUGENE,NaN,False,1977-09-12,NaN,J H BAXTER,Greyish black smoke,NaN,NaN
1,1978-10-10,18:00:00,UTTIGER/LOUISE,215 BAXTER,EUGENE,689-6123,False,1978-10-10,18:00:00,J H BAXTER,Thinks this is in violation of their emission ...,NaN,NaN
2,1979-03-15,23:00:00,WALTON/KEITH,1640 BEACON DR,EUGENE,NaN,False,1979-03-15,23:00:00,J H BAXTER,Foul smell of creosote again in the air. Air ...,NaN,NaN
3,1980-06-26,23:20:00,UTTINGER/JOHN,215 BAXTER,EUGENE,685-6123,False,1980-06-26,23:20:00,J H BAXTER,Strong ammonia smell in air - hard to breathe ...,NaN,NaN
4,1980-09-11,14:40:00,DOUGHERTY/GREG,245 BAXTER,EUGENE,686-3237,False,1980-09-11,14:40:00,J H BAXTER,"Lots of black smoke is emitted, intermittantly...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3321,2022-03-02,07:04:00,DIPALMA\ANDREA,3161 CORALY AVE,EUGENE,5417311278,False,2022-03-02,02:40:00,J H BAXTER,the air was full of a terrible odor which smel...,97402,NaN
3322,2022-04-04,13:54:25.917000,DIPALMA\ANDREA,3161 CORLEY AVE,EUGENE,5417311278,False,2022-04-04,12:00:00,J H BAXTER,bad odor in my neighborhood,97402,NaN
3323,2022-05-04,23:08:00,DIPALMA\ANDREA,3161 CORALY AVE,EUGENE,5417311278,False,2022-05-02,12:00:00,J H BAXTER,When I came home on Monday at noon I spelt a h...,97402,NaN
3324,2022-06-09,18:49:00,"UNKNOWN - ""MAY""",NaN,NaN,818-489-4318,False,2022-06-09,18:49:00,J H BAXTER,"""driving west on Roosevelt clouds drifting fro...",NaN,NaN
3325,2022-06-14,21:36:00,STANIAK\AARON,662 ARCHIE ST,EUGENE,9163960435,False,2022-06-14,07:30:00,J H BAXTER,Just before 7:30 AM there was a sweet chemical...,97402,NaN

### Making a separate column for year

In [3]:
df['Date of Complaint Submission'] = pd.to_datetime(df['Date of Complaint Submission'])
df['Year'] = df['Date of Complaint Submission'].dt.year
df

,Date of Complaint Submission,Time of Complaint Submission,Complainant Name,Complainant Address,Complainant City,Complainant Phone Number,Request Confidentiality,Date of Air Quality Issue,Time of Air Quality Issue,Source of Air Quality Issue,Notes,Unnamed: 11,Unnamed: 12,Year
0,1977-09-12,NaN,WILLIAMS\DAVE,49 BAXTER ROAD,EUGENE,NaN,False,1977-09-12,NaN,J H BAXTER,Greyish black smoke,NaN,NaN,1977
1,1978-10-10,18:00:00,UTTIGER/LOUISE,215 BAXTER,EUGENE,689-6123,False,1978-10-10,18:00:00,J H BAXTER,Thinks this is in violation of their emission ...,NaN,NaN,1978
2,1979-03-15,23:00:00,WALTON/KEITH,1640 BEACON DR,EUGENE,NaN,False,1979-03-15,23:00:00,J H BAXTER,Foul smell of creosote again in the air. Air ...,NaN,NaN,1979
3,1980-06-26,23:20:00,UTTINGER/JOHN,215 BAXTER,EUGENE,685-6123,False,1980-06-26,23:20:00,J H BAXTER,Strong ammonia smell in air - hard to breathe ...,NaN,NaN,1980
4,1980-09-11,14:40:00,DOUGHERTY/GREG,245 BAXTER,EUGENE,686-3237,False,1980-09-11,14:40:00,J H BAXTER,"Lots of black smoke is emitted, intermittantly...",NaN,NaN,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3321,2022-03-02,07:04:00,DIPALMA\ANDREA,3161 CORALY AVE,EUGENE,5417311278,False,2022-03-02,02:40:00,J H BAXTER,the air was full of a terrible odor which smel...,97402,NaN,2022
3322,2022-04-04,13:54:25.917000,DIPALMA\ANDREA,3161 CORLEY AVE,EUGENE,5417311278,False,2022-04-04,12:00:00,J H BAXTER,bad odor in my neighborhood,97402,NaN,2022
3323,2022-05-04,23:08:00,DIPALMA\ANDREA,3161 CORALY AVE,EUGENE,5417311278,False,2022-05-02,12:00:00,J H BAXTER,When I came home on Monday at noon I spelt a h...,97402,NaN,2022
3324,2022-06-09,18:49:00,"UNKNOWN - ""MAY""",NaN,NaN,818-489-4318,False,2022-06-09,18:49:00,J H BAXTER,"""driving west on Roosevelt clouds drifting fro...",NaN,NaN,2022
3325,2022-06-14,21:36:00,STANIAK\AARON,662 ARCHIE ST,EUGENE,9163960435,False,2022-06-14,07:30:00,J H BAXTER,Just before 7:30 AM there was a sweet chemical...,97402,NaN,2022

In [15]:
df['Complainant City'].value_counts()

Complainant City
EUGENE             3042
Eugene               20
EUGENE  97402         2
EUENE                 2
SPRINGFIELD           2
 EUGENE               1
ELMIRA                1
EUGENE    97402       1
EUGENE`               1
YONCALLA              1
EUGNE                 1
EUGENE.               1
EUTENE                1
NOTI                  1
EUGEN                 1
Name: count, dtype: int64

In [5]:
df_1=df['Year'].value_counts().reset_index()

In [14]:
df_1['count'].sum()

3326

In [7]:
year_counts = df['Year'].value_counts().reset_index()
year_counts.columns = ['Year', 'Count']
year_counts = year_counts.sort_values(by='Year')  
year_counts

    Year  Count
43  1977      1
40  1978      1
39  1979      1
35  1980      3
37  1982      2
41  1984      1
42  1985      1
36  1986      2
27  1987     12
33  1988      5
34  1989      3
38  1990      2
31  1991      8
28  1992     11
30  1993      9
17  1994     28
23  1995     14
32  1996      6
18  1997     27
26  1998     12
25  1999     13
21  2000     15
19  2001     21
10  2002     73
2   2003    437
0   2004    762
1   2005    657
3   2006    221
7   2007    104
12  2008     62
5   2009    113
9   2010     79
13  2011     50
11  2012     65
8   2013     94
15  2014     45
20  2015     16
29  2016     11
16  2017     29
24  2018     13
4   2019    128
14  2020     47
6   2021    108
22  2022     14

In [8]:
year_counts.to_csv('foia_years_3.csv')